*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
.container{
  width: 80%;
  margin: auto;
}
.list-unstyle{
  list-style: none;
}
a{
  text-decoration: none;
}
.hav-opa:hover{
  opacity: .7;
}
.hedin-static {
  padding: 50px 0;
  text-align: center;
}
.hedin-static h2{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.hedin-static span{
width: 50px;
height: 4px;
display: block;
margin: auto;
background-color: #3a10c4;
margin-top: 10px;
}
.ltr-over{
  position: relative;
}
.ltr-over::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.2);
 transition: all .5s ease-in-out;
 z-index: -1;
}
.ltr-over:hover::after{
  width: 100%;

}
.tp-over{
  position: relative;
}
.tp-over::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100;
  height: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.2);
 transition: all .5s ease-in-out;
 z-index: -1;
}
.tp-over:hover::after{
  height:100%;

}
/*start header*/
header{
  padding: 2px;
  background-color: gray;
 position:relative;
 background-image: url(../images/background/background1.webp);
 background-size: cover;
 height: 100vh;
}
.overlay{
  position:absolute;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
 
}
.over-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}
.over-cont h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  color: #fff;
}
.over-cont p{
  padding: 20px 0;
  line-height: 1.5;
  letter-spacing: .5px;
  color: #fff;
}
.over-cont button{
  width: 150px;
  padding: 15px;
  border:none ;
  background-color: #fff;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
  font-weight: bold;
}
.over-cont button:last-child{
  background-color: #3a10c4;
  margin-left: 20px;
  color:#FFF
}
.header-content{
  display: flex;
z-index: 3;
position: relative;
}
.header-content img{
  max-width: 150px;
  max-height: 80px;
  flex: 1;
}
.header-content nav{
  text-align: right;
  align-items: center;
  flex: 2;
  padding:25px 50px 0 0
}
.header-content nav ul li{
  display:inline-block;
padding-left:15px ;
}
.header-content nav ul li a{
  color: white;

}
.header-content nav ul li .active::after{
  width:100%;

}

.header-content nav ul li a::after{
  width: 0%;
  transition: all .5s ease-in-out;
}
.header-content nav ul li:hover a::after{
  width: 100%;
}

.header-content nav ul li a::after,
.header-content nav ul li a.active::after
{
  content: "";
  display: block;
  height: 3px;
  background-color: #3a10c4;
  margin-top: 3px;
}
.drobdown{
  position: relative;
}
.drobdown:hover .drwopdown-mnu{
  transform: scaleY(1);
  
}
.drwopdown-mnu{
  position: absolute;
  left: 5px;
  top: 29px;
  color:#fff;
  background-color: #3a10c4;
  width: 100px;
  text-align: left;
  padding: 5px;
  transform: scaleY(0);
  transition: transform .5s ease-in-out
  
}
/* start about */
.about-items{
  display: flex;
  justify-content: space-between;
}
.about-item{
border: 1px solid #383838;
padding: 10px;
text-align: center;

}
.mar{
  margin: 0 20px;
}
.about-item i{
  color: #3a10c4;
}
.about-item h4{
text-transform:uppercase;
padding: 10px 0;
transition: all .5s ease-in-out;
}
.about-item:hover h4{
  color: #FFF;
}
.about-item p{
  line-height: 1.5;
}
.about-item a{
  color: #3a10c4;
  text-transform: capitalize;
  margin: 10px 0;
  display: block;
}
/*start portfoilo*/
.portfoilo-items{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-gap: 20px;
}
.portfoilo-item{
  position:relative;
}
.portfoilo-item img{
  width: 100%;
}
.portfoilo-item:hover .portfoilo-over{
  /* opacity: 1;
visibility: visible; */
transform: scalex(1);

}


.portfoilo-over{
  position:absolute;
  content: "";
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
transition: all .5s ease-in-out;
/* opacity: 0;
visibility: hidden; */
transform: scalex(0);
transform-origin: left;
}
.portfoilo-over2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  color: #fff;
  text-align: center;
}
.portfoilo-over2 h5{
 
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.portfoilo-over2 p{
  padding: 5px 0;
}
.portfoilo-over2 i{
  width: 40px;
  height: 40px;
  padding: 5px;
  line-height: 30px;
  background-color: #3a10c4;
  border-radius: 5px 0;
}
.appdev{
  display:grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-gap:20px
}
.appdev-items{
  border: 1px solid #e8e8e8;
  padding: 10px 10px 10px 60px;
  position: relative;
}
.appdev-items i{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #3a10c4;
}
.appdev-items h3{
  padding-bottom: 5px;
  transition: all .5s ease-in-out;
  transition-delay: .1s;
}
.appdev-items:hover h3{
color: #fff;
}
.appdev-items p{
  color: #5f5d5d;
  line-height: 1.6;
}
/* start services */
.services{
  padding: 40px 0;
  margin: 20px 0;
}
.services-items{
  display: flex;
}
.services-items .hedin-static{
text-align: left;
padding: 15px 0;
}
.services-items .hedin-static span{
  margin: 10px 0;
}
.services-info{
  flex: 1;
}
.services-info p{
  color:#5f5d5d ;
  line-height: 1.6;
  padding:5px 10px 10px 0;
}
.services-info ul li{
  color: #383838;
  padding: 5px 0 5px 5px;
}
.services-info ul li:hover i{
  background-color: #3a10c4;
  color: #fff;
}
.services-info ul li i{
  padding: 4px;
  border-radius: 50%;
  border:1px solid #5f5d5d;
  margin-right: 3px;
  transition: all .5s ease-in-out;
}
.services-imag{
  flex: 1;
}
.services-imag:hover img{
  transform: scale(1.5,1.5);
}
.services-imag .im{
  overflow: hidden;
}
.services-imag .im img{
  width: 100%;
transition: all .5s ease-in-out;
}
.services-imag ul {
  margin: 5px 3px;
  text-align: center;
}
.services-imag ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #9e9b9b;
}

.services-imag ul li:nth-child(2){
  width: 15px;
  height: 12px;
  background-color: #3a10c4;

}
.users{
 
  margin-top: 30px;
  background-image: url(../images/background/background2.webp);
  height: 300px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
.users2{
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}
.user{
  color:white; 
  text-align: center;
}
.user i{
  color: #9582d2;
}
.user h3{
  padding: 10px 0 5px 0;
}
.user span{
  text-transform: capitalize;
  padding-top: 5px;
}
/* start price */
.price-items{
/* display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 40px; */
display: flex;
justify-content: center;
}
.price-item {
  padding: 25px;
  border: 1px solid #9e9b9b;
  text-align: center;
  width: 250px;
}
.price-item:hover span ,.price-item:hover .doller{
  color: #3a10c4;
}

.price-item:nth-child(2){
  margin: 0 40px;
}
.price-item span{
  text-transform: uppercase;
}
.price-item .doller{
  border: 1px solid #9e9b9b;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 50%;
  margin: 10px auto 30px auto;
}
.price-item ul li{
  color: #5f5d5d;
  line-height: 1.7;
}
.price-item button{
  background-color: none;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #9582d2;
  border: 1px solid #9582d2;
  margin-top: 15px;
}
.Testimonial{
  margin: 20px 0;
  background-image: url(../images/background/background3.webp);
  height: 400px;
  position: relative;
}
.Testimonial .items{
  color: #FFF;
  display: flex;
  padding-top: 80px;
}
.Testimonial .items .item:first-child{
  margin-right: 15px;
}
.Testimonial .items .im{
  position: relative;
padding: 10px 0 50px 90px;
}
.Testimonial .items .im span{
  color: #9e9b9b;
}
.Testimonial .items .im img{
  position: absolute;
  top: 0;
  left:0;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #9e9b9b;
  transition: background-color .7s;
}
.Testimonial .items .im img:hover{
  background-color: #9e9b9b;
}
/* start our-team */
.our-team .items{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 30px;
}
.our-team .items .item{
  padding: 20px 10px 40px 10px;
  background-color: #eee;
  border: 1px solid #9e9b9b;
position: relative;

}
.item.tp-over{
  z-index: 1;
}
.our-team .items .item:hover .ig-ove{
  opacity: 1;
  visibility: visible;
}
.our-team .items .item:hover .ig img{
  opacity: .6;
}
.our-team .items .item:hover .info span{
color: #5730d4;
}
.our-team .items .item:hover .info h3{
  color: #fff;
}
.our-team .ig {
  position: relative;
}
.our-team .ig img{
  transition: opacity .5s;
}
.our-team .ig .ig-ove{
  position: absolute;
  top: 0;
  right:0 ;
  opacity: 0;
visibility: hidden;
transition:visibility .5s , opacity .5s ;
}
.our-team .ig .ig-ove a{
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  color: #fff;
  background-color: #5730d4;
  text-align: center;
  line-height: 40px;

}
.our-team .info{
  text-align: center;
  padding-top: 10px;
}
.our-team .info h3{
  color: #383838;
  transition: all .5s ease-in-out;
}
.our-team .info span{
  color:#9e9b9b;
  text-transform: capitalize;
  transition: all .5s ease-in-out;
}
/* start blog */
.blog-items{
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}
.blog-item{
  border:1px solid #9e9b9b;
  border-radius: 0 0 5px 5px;
}
.blog-item-img{
  overflow: hidden;
}
.blog-item:hover .blog-item-img img{
  transform: scale(1.5);
 
}
.blog-item-img img{
  width: 100%;
  transition: all .5s ease-in-out;
}
.blog-item-info{
  padding: 10px;
}
.blog-item-info ul{
  padding-bottom: 10px;
}
.blog-item-info ul li{
  display: inline-block;
  margin-right: 4px;
}
.blog-item-info h3{
  padding-bottom: 15px;
}
.blog-item-info p{
  line-height: 1.5;
  color: #5f5d5d;
  padding-bottom: 20px;
}
.blog-item-info a{
 padding-left: 40px;
}
/* start contact */
.contact .items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.contact .item{
  text-align: center;
}
.contact .item i{
  color: #5730d4;
}
.contact .item h4{
  padding: 10px 0;
}
.contact .item span{
  color:#5f5d5d
}
form{
  padding-top: 50px;
}

.dis-bl{
  display: block;
}
.cont-for{
  padding-left: 120px;
}
.cont-for input{
  background-color: none;
  border: none;
  color: #9e9b9b;
  margin-bottom: 40px;
  width: 400px;
  height: 35px;
  padding: 2px 2px 2px 10px;
  border-bottom: 1px solid #5730d4;
}
.cont-for input:first-child{
  margin-right: 20px;
}
.cont-for input:nth-child(3){
  width: 826px;
}
.cont-for textarea{
  margin-bottom: 30px;
  width: 826px;
  height: 100px;
  padding: 5px 5px 5px 23px;
  color: #9582d2;
  border: 1px solid #9988d3;
background-color: none;
}
.cont-for input:last-child{
  width: 100px;
  border: 1px solid #3a10c4;
  color: #fff;
  padding: 10px;
  background-color: #9988d3;
  border-radius: 5px;
  margin-left: 80px;
  transition: opacity .5s;
  cursor: pointer;
}
.cont-for input:last-child:hover{
  opacity: .8;
}
/*footer*/
footer{
  background-color: black;
  padding: 30px 0;
  color: #9e9b9b;
}
footer .img{
  margin: auto;
  width: 200px;

}
footer .img img{
  width: 100%;
}
footer ul{
  text-align: center;
  margin: 20px 0 40px 0;
}
footer ul li{
  display: inline-block;
  margin-right: 6px;
  width: 60px;
  height: 60px;
  background-color: #9582d2;
  text-align: center;
  padding: 5px;
  border-radius: 9px 0 9px 0;
}
footer ul li a i{
  transition: transform .5s;
}
footer p{
  font-size: 17px;
}
footer ul li:hover a i{
  transform: rotate(360deg);
}